#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"  // 中文简体 + Unicode
        BEGIN
            VALUE "CompanyName",      ""
            VALUE "FileDescription",  "Text Document Creator"
            VALUE "FileVersion",      "1.0.0"
            VALUE "LegalCopyright",   "Copyright (C) - Torin Linsley"
            VALUE "OriginalFilename", "Text_Document_Creator.exe"
            VALUE "ProductName",      "Text Document Creator"
            VALUE "ProductVersion",   "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END